body{
    margin: 0;
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

*{
    box-sizing: border-box;
}

header{
    height: 70px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1{
    margin: 0;
}

header nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

header nav a:hover{
    color: grey;
    text-decoration: underline;
}

header a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

main{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

main article{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px auto;
    background-color: rgba(0,0,0,0);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

main article section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
main article section.informations{
    justify-content: space-between;
}

main article section.informations a{
    display: block;
}
main article section.informations a:hover {
    text-decoration: none;
}
main article section.informations div.date{
    color: grey;
}

main article section.content{
    margin: 10px 0;
}
main article section.content a:hover{
    text-decoration: none;
    color: black;
}

main article section.actions{
    display: flex;
    align-items: center;
}

main article section.actions a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f3f3f3;
    border: 1px solid #9f9f9f;
    margin-right: 20px;
    transition: background-color 0.05s ease-in-out;
}

main article section.actions a:hover {
    text-decoration: none;
    background-color: #f8f8f8;
}

main article section a{
    text-decoration: none;
    color: black;
}

main article section a:hover{
    color: grey;
    text-decoration: underline;
}

main article section div{
    display: inline-block;
}

main article section div.username{
    color: grey;
}

footer {
    padding: 20px 0 10px;
    text-align: center;
}

a#create{
    text-decoration: none;
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #51E9FF;
    border: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    line-height: 32px;
    color: black;

    cursor: pointer;

    transition: transform 0.2s ease-in-out;
}

a#create:hover{
    transform: rotate(90deg);
}

section#create{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section#create form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section#create textarea{
    border: 1px solid #51E9FF;
    border-radius: 10px;
    max-width: 400px;
    width: 50vw;
    height: 100px;
}

@media screen and (max-width: 500px){
    main article{
        width: 100%;
    }

    header nav{
        width: 100%;
        justify-content: space-around;
    }
}

@media screen and (min-width: 500px) {
    main article{
        width: 80%;
    }
}

@media screen and (min-width: 800px) {
    main article{
        width: 70%;
    }
}

